@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 34px;
    color: rgb(190, 21, 206);
}
p{
    font-size: 20px;
    color: #485055;
}
h3{
    color: #485055;
}







.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #485055;
  }

  .button2{
    text-align: right;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border: 2px solid #485055;
    margin-left: 980px;
  }



.button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #1226d8; 
    color: white;
  }

  .button2{
    transition-duration: 0.4s;
  }
  
  .button2:hover {
    background-color: #810ad1; 
    color: white;
  }

  .button:hover {
    box-shadow: 0 8px 16px 0 rgba(185, 179, 179, 0.2), 0 6px 20px 0 rgba(185, 179, 179, 0.2);
  }
  .button2:hover {
    box-shadow: 0 8px 16px 0 rgba(185, 179, 179, 0.2), 0 6px 20px 0 rgba(185, 179, 179, 0.2);
  }